<div class="main_container">
  <div class="toggleable control_box">
    <div class="attribute_wrapper">
      {{#each indexObj}}
      <div class="index_div" data-attr-name="{{@key}}" data-group = "{{this.group}}" data-val="{{this.indicator_name}}">
        <label for="{{@key}}_attr" class="{{@key}}">{{@key}}</label><input type=text class="attr_input" id="{{@key}}_attr" value="{{this.indicator_name}}" readonly />
        <label for="{{@key}}_scale_type" class="{{@key}}">scale</label><select id="{{@key}}_scale_type" name="scale_type">
          <option value="linear">linear</option>
          <option value="log">log</option>
          <option value="sqrt">sqrt</option>
        </select>
        <label for="{{@key}}_min" class="{{@key}} range min_range">min</label><input type=number class="range min_range" id="{{@key}}_min_input" value="{{this.min}}" />
        <label for="{{@key}}_max" class="{{@key}} range max_range">max</label><input type=number class="range max_range" id="{{@key}}_max_input" value="{{this.max}}" />
        <button name="{{@key}}_apply" class="{{@key}} apply" id="{{@key}}_apply_button">apply</button>
      </div>
      {{/each}}
      <button id="loadData" class="attr_set">Load Data</button>
    </div><!--attribute_wrapper-->
    <div class="year_wrapper">
      <label for="year">year</label>
      <input id="year_input" type="number" name="year" value="1960" />
      <button id="changeButton" class="year_set">change</button>
      <button id="playButton" class="play">Play!</button>
      <button id="stopButton" class="stop">Stop</button>
    </div><!--year_wrapper-->
  </div>
  <div id="screen">
  </div>
</div>
