<div class="main_container">
  <div class="toggleable control_box">
    <div class="year_wrapper">
      <label for="year">year</label>
      <input id="year_input" type="number" name="year" value="1960" />
      <button id="changeButton" class="year_set">change</button>
    </div><!--year_wrapper-->
    <div class="attribute_wrapper">
      {{#each indexObj}}
      <div class="index_div">
        <label for="{{@key}}_attr">{{@key}}:</label>
        <select id="{{@key}}_attr">
          <option value="{{this}}">
            {{this}}
          </option>
        </select>
      </div>
      {{/each}}
      <button id="loadData" class="attr_set">set</button>
    </div><!--year_wrapper-->
  </div>
  <div id="screen">
  </div>
</div>
<!-- <p id="test"  class"test_class">Hellow D3!</p>
<p>paragraph1</p>
<p>paragraph2</p>
<p>paragraph3</p>
<p>paragraph4</p>
<p>paragraph5</p> -->
